body {
  margin = 0;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
}

.nav {
  padding: 0;
  margin: 0;

}

.nav li {
  display: inline-block;
  list-style: none;
}

.navigation-container {
  border-bottom: 1px solid #000000;
  background: #2d2d2d;
}

.nav > li > a {
  display: block;
  padding: 10px;
  color: #bbbbbb;
  text-decoration: none;

}


.nav > li > active,
.nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
}


.filters {
  padding: 0 10px;
  margin: 0 100px;
}

.filters li {
  display: inline-block;
  list-style: none;


}

.filters > li > a {
  display: block;
  margin: 0 20px;
  padding: 8px;
  color: #787878;
  font-size: 18px;
  border-bottom: 2px solid red;
  text-decoration: none;
}


.filters-container {
  margin: 0;
  border-bottom: 1px solid gray;
}














.search-container {
  padding: 20px 10px;
  border-bottom: 1 px solid #e5e5e5;
  background: #f4f4f4;
}

.main-container {
  width: 512px;
  margin-left: 135px;
}

.search-result-list {
  padding-left: 0;
  list-style: none;
}

.search-result-list li {
  margin-bottom: 30px;
}


.search-result-title {
  margin: 0;
}

.search-result-source {
  display: block;
  font-style: normal;
  color: #009933;
}
